@charset "UTF-8";

/*
Cores:
Azul Claro: #A2CAED
Azul Mais Escuro: #6392BC
Beje: #CDC2AC
*/

/*Typical Device Breakpoints
------------------------------
Pesquenas telas: ate 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #A2CAED;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 300px;
    height: 560px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #6392BC url(../imagens/entrada.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
}

section#login > div#formulario {
    display: block;
    text-align: center;
}

section#login > div#formulario > h1 {
    text-align: center;
    font-size: 1.3em;
    background-color: #6392BC;
    margin: 0px -10px 0px -10px;
    padding: 5px;
}

section#login > div#formulario > p {
    text-align: center;
    font-size: 0.8em;
    margin: 0px -10px 0px -10px;
    background-color: #6392BC;
    padding: 0px 10px 0px 10px;
}

form > div.campo > span {
    width: 25px;
    margin-left: -30px;
    background-color: #6392BC;
    border-radius: 50%;
}

form > div.campo > input {
    width: 80%;
    height: 30px;
    background-color: #CDC2AC;
    border: none;
    border-radius: 5px;
   
    
}

form > div.campo > label {
    display: none;
}


form > input[type=submit] {
    width: 80%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #CDC2AC;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form > input[type=reset] {
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #CDC2AC;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form > button {
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #CDC2AC;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #918878;
}

form > input[type=reset]:hover {
    background-color: #918878;
}

form > button:hover {
    background-color: #918878;
}

form > div.campo > input:focus-within {
    background-color: white;
}

