@charset "UTF-8";

/*
Cores:
Azul Claro: #A2CAED
Azul Mais Escuro: #6392BC
Beje: #CDC2AC
*/

/*
Celulares: width - 375 x Height - 812.
Tablet: width - 813 x height - 1024.
Laptop: width - 1366 x height- 768.
High-res laptop or desktop: width - 1920 x height - 1080.
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #A2CAED;
}

section#login {
    background-color: white;
    width: 350px;
    height: 600px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

